[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra --strict-markers -q"
testpaths = [
    "tests",
]
filterwarnings = [
    "ignore::DeprecationWarning",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"