__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
env.bak/
piper-
.DS_Store
.coverage
htmlcov/
.pytest_cache/
dist/
build/
*.egg-info/
.mypy_cache/
.dmypy.json
.dmypy.jsonc
.ruff_cache/
*.log
.env
