apiVersion: apps/v1
kind: Deployment
metadata:
  name: good-app
  namespace: dev
spec:
  replicas: 3
  selector: {}
  template:
    metadata: {}
    spec:
      containers:
      - name: nginx
        image: nginx:1.25.3
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        securityContext:
          runAsNonRoot: true
          runAsUser: 101
        livenessProbe:
          httpGet:
            path: /healthz
            port: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
