__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
env/
ENV/
env.bak/
venv.bak/

.pytest_cache/
.coverage
htmlcov/
.tox/
.atlassian/
.nyc_output/
coverage.xml
*.cover
*.log
local_settings.py
mrdeveloper.cfg
.pytest_cache/
.pylint_cache/

.dmypy.json
dmypy.json

# Poetry
poetry.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
