# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
venv/
env/
.venv/

# Env
.env

# Builds
dist/
build/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Cache
.cache/
.domain-profiler-cli/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db