__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/

# Misc
.DS_Store
.env
*.log

temp.pcap
test.pcap
*.pcap
