__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/

.mypy_cache/
.ruff_cache/
.dmypy.json
.dmypy.jsonc

dist/
build/
*.egg
*.egg-info/
*.eggs/
.eggs/
parts/
var/
.sdists/
.pip-wheel-metadata/

pip-log.txt
pip-delete-this-directory.txt

.idea/
.vscode/
*.swp
*.swo

*.log
.env
