# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Environments
.env
.venv
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Temp
tmp/
*.tmp
logs/
*.log

# OS
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/

# py-leak-detector temp
wrapper.py
memleak_*
pytrace
