__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.pytest_cache/
.coverage
.pylint_cache/
.hypothesis/
.profiling.*
.pickle-*.pkl
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/
.pipinstall
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
.dmypy/
htmlcov/
.coverage.*
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules/